<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="container">
            <form action="/search" method="post">
                <h1>{{title}}</h1>
                <label for="url-field">GitHub Repo URL:</label>
                <input id="url-field" name="url" type="url" placeholder="GitHub Repo URL">
                <button type="submit">Search</button>
            </form>
        </div>
        
    </body>
</html>



