<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <div class="container">
            Thank you for using Plan My Vote! You will receive an email shortly with a copy of your voting plans. We will send you another email closer to the election reminding you of your voting plans. 
        </div>
        
    </body>
</html>